:root {
    --gradient: linear-gradient(
        45deg,
        /* #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871 */
        /* #09e2f6,
        #00e8d2, 
        #4eea9c, 
        #9ae55d, 
        #dfd714);
         */
        #bc11e0, 
        #9153f4, 
        #6270fb, 
        #2f84f9, 
        #0092ee, 
        #00a4ee, 
        #00b4e8, 
        #00c2df, 
        #00dad3, 
        #00eea9, 
        #8efa69, 
        #f3fb03);
    );
}


.container {
    height: 5rem;
    position: relative;
    /* border: 3px solid green; */
  }
  
  .center {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

body {
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}

.main-button {
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    border-radius: 30px 30px 30px 30px;
    border: 1px solid white;
    height: 40px;
    width:200px;
    font-size: 20px;
    color: white;
    font-family: Quicksand;
    

}